<div class="main-frame">
  <h2>Signup Form</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
      <label>First Name</label>
      <input type="text" formControlName="firstName" placeholder="Ex. John" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && signup.firstName.errors }" required>
      <div *ngIf="submitted && signup.firstName.errors" class="invalid-feedback">
        <div *ngIf="signup.firstName.errors.required">First Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" formControlName="lastName" placeholder="Ex. Mark"
        [ngClass]="{ 'is-invalid': submitted && signup.lastName.errors }" required>
      <div *ngIf="submitted && signup.lastName.errors" class="invalid-feedback">
        <div *ngIf="signup.lastName.errors.required">Last Name is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Email Id</label>
      <input type="text" formControlName="emailId" placeholder="abc@example.com"
        [ngClass]="{ 'is-invalid': submitted && signup.emailId.errors }" required>
      <div *ngIf="submitted && signup.emailId.invalid" class="invalid-feedback">Email is invalid.</div>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input type="password" formControlName="password" placeholder="********"
        [ngClass]="{ 'is-invalid': submitted && signup.password.errors }" required>
      <div *ngIf="submitted && signup.password.errors" class="invalid-feedback">
        <div *ngIf="signup.password.errors.minlength">Password must be at least 8 characters long.</div>
        <div *ngIf="signup.password.errors.required">Password is required.</div>
      </div>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input type="password" formControlName="confirmPassword" placeholder="********"
        [ngClass]="{ 'is-invalid': submitted && signup.confirmPassword.errors }" required>
      <div *ngIf="submitted && signup.confirmPassword.errors" class="invalid-feedback">
        <div *ngIf="signup.confirmPassword.errors.required">Confirm password is required.</div>
      </div>
      <div *ngIf="submitted && passwordNotMatched" class="invalid-feedback">password not matched.</div>
    </div>

    <div class="form-group action">
      <button mat-raised-button type="submit" color="primary">Submit</button>
      <button mat-raised-button type="button" (click)="resetSignupForm()" color="warn">Cancle</button>
    </div>

  </form>
</div>