.main-frame {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: auto;
  box-shadow: 3em;
}

input,select {
  width: 95%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;

}

input.ng-invalid.ng-touched {
   border: 1px solid red;
}

.action {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

mat-card {
  display: flex;
  justify-content: space-around;
}

.form-group {
  padding-top: 1rem;
}

h2 {
  text-align: center;
}

button {
  margin-left: 1rem;
}

.invalid-feedback {
  border: 1 px solid red;
  color: red;
}

.w-25 {
  width: 25%;
  text-align: center;
}